
.test_run .status{
  display: inline-block;
  width: 3em;
  padding: .3em;
  text-align: center;
}
.test_run.fail .status {
  color: #ddd;
  background-color: #E8000B;
}
.test_run.pass .status {
  color: #aaa;
  background-color: #2DF700;
}
